.cont-app{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-header);
  text-align: center
}

.cont-header{
  background-color: var(--background-header);
  height: 100px;
  display: flex;
 box-shadow: 0px 4px 6px var(--sonbreamento-header);
 position: relative;
  z-index: 1000;
  text-align: center;
 
  

  justify-content: center;
  align-items:center;
  
  

  
  
}
.cont-header nav{
  display: flex;
  gap:150px; 
  
}

.cont-main{
  background-color: var(--background-main);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.botoes-nav{
  border: none;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 8px;
  background-color: var(--botoes-nav);
  cursor: pointer;
  background: none;       
   
}
.logo{
  display: flex;
  height: 100px;
  width: 150px;
}
.botao-cad{
  display: flex;
  flex-direction: column;
  
}

  

.tipo{
  display: flex;
  flex-direction: column;
}
.nome-produto{
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    
    
}

.banner-container {
  width: 100%;
  overflow: hidden;
  background-color: #111;
  color: #fff;
  padding: 10px 0;
  position: fixed; /* fixa no topo */
  top: 0;
  left: 0;
  z-index: 999;
}

.banner-text {
  display: inline-block;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



  
  
 




