*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body, #root{
  min-height: 100vh;

  background-color: grey;
}

:root{
 
 --ink-black: #000814ff;
--botoes-nav: #e9eaecff;
--background-main:  #e9eaecff;
--sonbreamento-header: #e4b61aff;
--background-header: #fbe134ff;
}

